.cover {
    background-image: url(../assets/asphalt/cover.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}

.description-wrapper {
    max-width: 60%;
    z-index: 1;
    color: aliceblue;
}

.description {
    font-size: 30px;
}

.mask {
    opacity: .5;
}


.intro {
    display: flex;
}
.intro > img {
    max-width: 30%;
}
.intro > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    margin-right: 100px;
}

.early-stage > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.early-stage > .container > img,
.early-stage > .container > div {
    position: relative;
}

.early-stage > .container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next-step {
    margin-top: 100px;
}

.next-step > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.next-step > .container > img {
    position: relative;
}

.final-design {
    padding-top: 60px;
    border-top: 1px solid #ddd;
}

.overview {
    display: flex;
}
.overview > img {
    max-width: 30%;
}

.overview > .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
}

.homepage,
.menu {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(10, 50px);
    column-gap: 30px;
}

.homepage > img,
.menu > img {
    grid-column: 1;
    grid-row: 1 / 11;
}

.homepage > .pointer,
.homepage > h3,
.menu > .pointer,
.menu > h3 {
    grid-column: 2;
    display: flex;
    justify-content: left;
}
.pointer > .dash {
    margin-right: 20px;
}


.sign-up,
.output {
    display: flex;
    margin-top: 100px;
}

.sign-up > .container,
.output > .container {
    display: flex;
    flex-direction: column;
    max-width: 48%;
}

.conclusion > .container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.prev-next {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.prev-next > a {
    text-transform: uppercase;
    color: #000;
    margin-top: 10px;
}
.prev-next > a:hover {
    color: rgba(37, 53, 81, .7);
}

main {
    position: relative;
}

.gray-circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.circle1 {
    background-color: #ddd;
    height: 10vw;
    width: 10vw;
    left: 40vw;
    bottom: 8vw;
}

.circle2 {
    background-color: #eee;
    height: 15vw;
    width: 15vw;
    left: 10vw;
    bottom: -7vw;
}

.circle3 {
    background-color: #ededed;
    height: 25vw;
    width: 25vw;
    left: 70vw;
    bottom: 0;
}