.cover {
    background-color: #253551;
    flex-direction: row;
    align-items: center;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    top: calc(60px + 3vmax + 8vh);
    max-width: 45%;
    height: fit-content;
    z-index: 1;
    font-weight: 500;
}

.name-title {
    font-size: 80px;
    margin: 20px 0;
}

.cover-image-wrapper {
    background-image:url(../assets/main/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    top: 15vh;
    right: 10vw;
    z-index: 0;
}

.product-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.factory > .product-wrapper {
    flex-direction: row;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    position: relative;
}


.title-decoration {
    font-size: 1.85em;
    margin: 1.5vw;
    transform: scale(1,1.24);
}

.star-align {
    right: calc(1.5em + 1.5vw);
}


.product-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    place-content: center;
}

.product-text > .title-wrapper > h2 {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid #253551;
    color:#253551;
    width: fit-content;
    transition: all .3s ease-out;
}

.product-text > .title-wrapper > h2:hover {
    background-color: #253551;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 3px;
}


.product-description {
    font-weight: 600;
}

/* margin and size of the product picture*/
.product-image-wrapper {
    margin-right: auto;
    max-width: 45%;
}

.factory > .product-wrapper > .product-image-wrapper {
    margin-right: 0;
    margin-left: auto;
}

main {
    position: relative;
    overflow:hidden;
}

.gray-circle {
    height: 40vw;
    width: 40vw;
    max-height: 700px;
    max-width: 700px;
    border-radius: 50%;
    background-color: #aaaaaa;

    position: absolute;
    bottom: -22vw;
    left: 3vw;

    z-index: -1;
}

/*---------------------------------------*/


@media (max-width: 820px) {
    .product-wrapper {
        flex-direction: column;
        place-content: center;
        place-items: center;
    }
    .factory > .product-wrapper {
        flex-direction: column;
    }
    .pet, .factory, .asphalt {
        padding: 0;
    }
    .product-text {
        max-width: 80%;
    }
    .product-image-wrapper {
        min-width: 80%;
        margin: 20px 0 0 0;
    }
    /*have to specifiy (specificity problem)*/
    .factory > .product-wrapper > .product-image-wrapper {
        margin-right: 0;
    }
    .name-title {
        font-size: 60px;
        margin: 15px 0;
    }
}


@media (max-width: 400px) {
    .name-title {
        margin: 10px 0;
    }
    .cover-image-wrapper {
        display: none;
    }
}