section {
    margin-top: 110px;
}
.cover {
    align-items: center;
    background-image: url("../assets/krewzer/cover.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}


.description-wrapper {
    max-width: 50%;
    z-index: 1;
    color: aliceblue;
    display: flex;
    align-items: center;
}


.mask {
    opacity: .5;
}

.my-role {
    display: flex;
    justify-content: space-between;
}
.my-role > div {
    display: flex;
    flex-direction: column;
}

.video {
    margin: 80px 0;
}

.prev-next .next {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    color: #000;
}


@media (max-width: 861px) {
    .my-role {
        flex-direction: column;
    }
    .my-role > div {
        margin: 5px 0;
    }

}

