section {
    margin-top: 110px;
}
.cover {
    align-items: center;
    background-image: url("../assets/krewzer/cover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


.description-wrapper {
    max-width: 50%;
    z-index: 1;
    color: aliceblue;
    display: flex;
    align-items: center;
}


.mask {
    opacity: .5;
}

.my-role {
    display: flex;
    justify-content: space-between;
}
.my-role > div {
    display: flex;
    flex-direction: column;
}

.video {
    margin: 80px 0;
}

section.preview > .download-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

section.preview  h3 {
    font-size: 150%;
}

section.preview > .ui-design {
    display: flex;
    flex-direction: column;
}

section.preview > .ui-design div.notification {
    align-self: center;
    font-size: 150%;
    display: none;
    width: 100%;
    background-color: #eee;
    aspect-ratio: 16/9;
    justify-content: center;
    align-items: center;
}

section.preview iframe {
    width: 100%;
    aspect-ratio: 16/9;
    align-self: center;
}
section.preview > .download-page > .image-wrapper {
    max-height: 75vh;
    max-width: 40vw;
    aspect-ratio: 588/1204;
}

.prev-next .next {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    color: #000;
}


@media (max-width: 861px) {
    .my-role {
        flex-direction: column;
    }
    .my-role > div {
        margin: 5px 0;
    }


    /*section.preview > .ui-design p {*/
    /*    display: block;*/
    /*}*/
    /*section.preview > .ui-design iframe {*/
    /*    display: none;*/
    /*}*/

}

