.cover {
    align-items: center;
    background-image: url(../assets/passion/cover.png);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover > .mask {
    opacity: 0;
}


.description-wrapper {
    color: aliceblue;
}


.intro {
    display: flex;
    align-items: center;
}

.intro > img {
    max-width: 25%;
    border-radius: 15px;
    margin-left: auto;
}

.intro > .text {
    max-width: 70%;
}

.intro > .text > ul {
    padding-left: 14px;
}

.calligraphy > .header {
    display: flex;
    align-items: center;
}

.calligraphy > .header > div {
    height: 2.5em;
    margin-left: 20px;
    border-radius: 1.25em;
    overflow: hidden;
    max-width: 7em;
}

.calligraphy > .header img {
    object-fit: cover;
}

.calligraphy > .container {
    height: 400px;
    display: flex;
    overflow-x: scroll;
}

.DIYs {
    margin-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas:
    "h00 h00 h00   .   . d14   .   .   .   .   ."
    "  .   .   .   . d16 d18 d18   .   .   .   ."
    "  .   .   . d13 d11 d11 d15 d10   .   .   ."
    "  . d12 d03 d03 d03 d06 d07 d07 d04 d04   ."
    "d08 d05 d17 d17 d01 d01 d02 d19 d19 d09 d09";
}

.DIYs > img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    transition: all 0.5s ease-out;
}

.DIYs > img:hover {
    transform: scale(1.5);
    z-index: 9;
}

.paintings {
    margin-top: 100px;
}

.paintings > .container1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-areas:
    "p1 p1 p2 p3 p6 p13"
    "p1 p1 p5 p4 p7 p12"
    "p14 p15  p16 p17 p18 p19";

    border-radius: 15px;
    overflow: hidden;
}


.paintings > div > div {
    overflow: hidden;
    transition: all .5s ease-out;
    position: relative;
}


.paintings img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-out;
}

.paintings img:hover {
    scale: 1.1;
}


.travel {
    margin-top: 100px;
}
.travel > .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.travel > .container > img {
    height: auto;
}

.travel > .need-to-move-up-p {
    margin-top: -80px;
}


@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appendElement {
    animation: append-animate .3s ease-out;
}


@media (max-width: 1040px) {

    .travel > .need-to-move-up-p {
        width: 70%;
        margin-top: -50px;
    }
}

@media (max-width: 600px) {
    .travel > .container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 300px;
    }

    .travel > .need-to-move-up-p {
        width: 80%;
        margin-top: 10px;
    }

    .paintings > .container1 {
        border-radius: 5px;
    }

    .description-wrapper h1 {
        font-size: 40px;
    }
}


@media (max-width: 400px) {
    .calligraphy > .container {
        height: 300px;
    }
}
