.cover {
    align-items: center;
    background-image: url(../assets/passion/cover.png);
    background-color: black;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.cover > .mask {
    opacity: 0;
}


.description-wrapper {
    color: aliceblue;
}


.intro {
    display: flex;
    align-items: center;
}

.intro > img {
    max-width: 25%;
    border-radius: 15px;
    margin-left: auto;
}

.intro > .text {
    max-width: 70%;
}

.intro > .text > ul {
    padding-left: 14px;
}

.calligraphy > .header {
    display: flex;
    align-items: center;
}

.calligraphy > .header > div {
    height: 2.5em;
    margin-left: 20px;
    border-radius: 1.25em;
    overflow: hidden;
    max-width: 7em;
}

.calligraphy > .header img {
    object-fit: cover;
}

.calligraphy > .container {
    height: 400px;
    display: flex;
    overflow-x: scroll;
}
.calligraphy img {
    width: auto;
}

.DIYs {
    margin-top: 100px;
    position: relative;
    display: grid;
    grid-template-areas:
    "h00 h00 h00   .   .   . d14   .   .   .   .   .   ."
    "  .   .   .   .   . d16 d24 d18 d18   .   .   .   ."
    "  .   .   . d13 d11 d11 d15 d15 d21 d10   .   .   ."
    "d12 d03 d03 d03 d03 d06 d07 d07 d22 d22 d04 d04   ."
    "d08 d05 d17 d17 d01 d01 d02 d19 d19 d09 d09 d20 d20";
    gap: 1vw;
}

.DIYs > img {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    transition: all 0.5s ease-out;
}

.DIYs > img:hover,
.DIYs > div:hover {
    transform: scale(1.5);
    z-index: 9;
}

.paintings {
    margin-top: 100px;
}

.paintings > .container0 {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-top: -5vw;
}
.paintings .black-strip {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 15%;
    height: 85%;
    background-color: black;
    z-index: -1;
}
.paintings .quadrant {
    display: grid;
    grid-gap: 1vw;
    grid-template-areas:
    "p11 p12 p13"
    "p21 p22 p23"
    "p31 p32 p33";
}
.paintings .flex-break {
    display: none;
}

.paintings .container11 {
    grid-template-rows: 1fr auto auto;
    justify-items: end;
    align-items: end;
}
.paintings .container11 .image-wrapper {
}
.paintings .container12 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: end;
}
.paintings .container21 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: start;
}
.paintings .container22 {
    justify-items: start;
    align-items: start;
}


.paintings .image-wrapper {
    overflow: hidden;
    transition: all .5s ease-out;
    position: relative;
}

.paintings .horizontal{
    aspect-ratio: 4/3;
    object-fit: contain;
}
.paintings .vertical {
    aspect-ratio: 3/4;
    object-fit: contain;
}

.paintings .container22 .p21,
.paintings .container22 .p31 {
    position: relative;
    bottom: 43.75%;
}

.paintings .container12 .p23 {
    position: relative;
    top: 43.75%;
}


.paintings img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-out;
}

.paintings img:hover {
    scale: 1.1;
}


.travel {
    margin-top: 100px;
}
.travel > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "tr1 tr2 tr5"
    "tr3 tr4 tr5";
    grid-gap: 10px;
}

.travel > .container img {
    object-fit: cover;
}

@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.appendElement {
    animation: append-animate .3s ease-out;
    position: fixed;
    width: 1000px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
    background-color: rgba(0,0,0,.7);
    z-index: 8;
}


@media (max-width: 600px) {
    .travel > .container {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 300px;
    }
    .travel .image-wrapper {
        aspect-ratio: 4/3;
        height: 100%;
    }

    .paintings > .container1 {
        border-radius: 5px;
    }

    .description-wrapper h1 {
        font-size: 40px;
    }
}


@media (max-width: 400px) {
    .calligraphy > .container {
        height: 300px;
    }
}
