.cover {
    align-items: center;
    background-size: cover;
    background-image: url(../assets/pet/cover.png);
    background-position: center;
}

h3 {
    font-weight: 600;
}

.mask {
    opacity: .75;
}

.description-wrapper {
    z-index: 1;
    color: aliceblue;
    max-width: 60%;
}

.name-title {
    color: #F6C848;
}

.concept-statement {
    display: flex;
    margin-top: 60px;
}

.concept-statement > .image-wrapper {
    max-width: 60%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-areas: ". img1 img2 img3 img4 .";
    gap: 30px;
}
.concept-statement > .image-wrapper > img {
    position: relative;
    z-index: 1;
}

.concept-statement > .image-wrapper > .background {
    position: absolute;
    z-index: -1;
    top: -100%;
    left: -50%;
    width: 150%;
    height: auto;
}

.problem-statement {
    margin-top: 150px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "para1 para1 para2 para2"
    "shmap para3 para3 para3";
}

.problem-statement > p {
    display: flex;
    justify-content: center;
}
.survey {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
    gap: 5px;
}


figcaption {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    margin-top: 150px;
}

.three-screenshots {
    margin-top: 60px;
    display: grid;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8vw;
    grid-template-areas:
    "p1 p2 p3"
    "t1 t2 t3"
    "t1 t4 t4"
}

/* formatting pic with pointers*/
.explore-page {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}
.explore-page > img {
    grid-column: 2;
    grid-row: 1 / 11;
}
.explore-page > .intro {
    grid-column: 1;
    grid-row: 2 / 4;
}
.explore-page > .p1 {
    grid-column: 1;
    grid-row: 5;
}
.explore-page > .p2 {
    grid-column: 1;
    grid-row: 7;
}
.explore-page > .p3 {
    grid-column: 1;
    grid-row: 9;
}

.explore-page > .solved {
    grid-column: 3;
    grid-row: 1;
}
.explore-page > .solved > p {
    margin: 5px;
}
.explore-page > .p4 {
    grid-column: 3;
    grid-row: 4;
}
.explore-page > .p5 {
    grid-column: 3;
    grid-row: 6;
}
.explore-page > .p6 {
    grid-column: 3;
    grid-row: 8;
}

.pointer {
    display: flex;
}

.pointer > p {
    margin: 0 5px;
}


.personal-page {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(10, 50px);
}

.personal-page > img {
    grid-column: 2;
    grid-row: 1 / 11;
}

.personal-page > .intro {
    grid-column: 1;
    grid-row: 2;
}

.personal-page > .p1 {
    grid-column: 3;
    grid-row: 3;
}
.personal-page > .p2 {
    grid-column: 3;
    grid-row: 5;
}
.personal-page > .p3 {
    grid-column: 3;
    grid-row: 8;
}
.personal-page > .solved {
    grid-column: 1;
    grid-row: 5;
}

.message-page {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}
.message-page > img {
    grid-column: 1;
    grid-row: 1 / 11;
}
.message-page > .intro {
    grid-column: 2;
    grid-row: 2;
}
.message-page > .p1 {
    grid-column: 2;
    grid-row: 5;
}
.message-page > .solved {
    grid-column: 2;
    grid-row: 7;
}

.life-page {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 500px;
    column-gap: 30px;
    grid-template-areas:
    "intro sc1 sc2"
    "solved sc1 sc2"
    "solved sc1 sc2";
}

.next-step {
    margin-top: 260px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 80px;
}

.next-step > .table {
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
}

.next-step > .table > div {
    display: flex;
    flex-direction: column;
}

.orange-circle {
    position: absolute;
    height: 32vw;
    width: 32vw;
    border-radius:50%;
    bottom: -16vw;
    left: 0;
    background-color: #F6C848;
}

.orange-circle > a {
    position: absolute; bottom: 18vw; right: 5vw;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
}

.orange-circle > a:hover {
    color: rgba(37, 53, 81, .7);
}

.orange-circle > img {
    width: 40%;
    position: absolute;
    top: -18%;
    left: 18%;
}

@media (max-width: 800px) {
    .survey-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}