.cover {
    align-items: center;
    background-size: cover;
    background-image: url(../assets/pet/cover.png);
}

main {
    position: relative;
}

h3 {
    font-weight: 600;
    font-size: 1.2em;
}

.dash {
    opacity: .3;
}

.mask {
    opacity: .75;
}

.description-wrapper {
    z-index: 1;
    color: aliceblue;
    max-width: 60%;
}

.name-title {
    color: #F6C848;
}

.concept {
    overflow: hidden;
}

.concept-statement {
    display: flex;
}

.concept-statement > .image-wrapper {
    max-width: 60%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-areas: ". img1 img2 img3 img4 .";
    gap: 30px;
    background-image: url("../assets/pet/b1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.concept-statement > .image-wrapper > img {
    position: relative;
    z-index: 1;
}

.problem-statement {
    margin-top: 150px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "para1 para1 para2 para2"
    "shmap para3 para3 para3";
}

.problem-statement > p {
    display: flex;
    justify-content: center;
}
.survey {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
    gap: 5px;
}


figcaption {
    display: flex;
    justify-content: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.features {
    margin-top: 150px;
}

.three-screenshots {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "h3 h3 h3 h3 h3"
    "p1 t1 p2 t2 p3"
    "p1 t1 p2 t3 p3"
    "t4 t4 t4 t4 t4";
    margin-bottom: 30px;
    column-gap: 10px;
}

.three-screenshots > div {
    display: flex;
    position: relative;
}

.three-screenshots .dash {
    margin: 0 5px;
    position: relative;
    top: 15px;
}

.three-screenshots .right-dash {
    position: absolute;
    right: calc(-30px - 1vw);
}

.three-screenshots > div > div > p {
    margin: 5px 0;
    position: relative;
    top: 15px;
}

.three-screenshots > .problem-solution {
    display: flex;
    flex-direction: row;
}

.three-screenshots > .problem-solution > div {
    width: 45%;
}

.move-left {
    position: relative;
    right: 1.5vw;
}

.pointer p {
    line-height: 1.3em;
}
/* formatting pic with pointers*/
.explore-page {
    margin-top: 60px;
}
.explore-page > .image-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}
.explore-page img {
    grid-column: 2;
    grid-row: 1 / 11;
}
.explore-page .intro {
    grid-column: 1;
    grid-row: 2 / 4;
}
.explore-page .p1 {
    grid-column: 1;
    grid-row: 5;
}
.explore-page .p2 {
    grid-column: 1;
    grid-row: 7;
}
.explore-page .p3 {
    grid-column: 1;
    grid-row: 9;
}

.explore-page .p4 {
    grid-column: 3;
    grid-row: 4;
}
.explore-page .p5 {
    grid-column: 3;
    grid-row: 6;
}
.explore-page .p6 {
    grid-column: 3;
    grid-row: 8;
}

.pointer {
    display: flex;
}

.pointer > p {
    margin: 0 5px;
}

.explore-page > .problem-solution {
    display: flex;
}
.explore-page > .problem-solution > div {
    width: 45%;
}


.personal-page {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(10, 50px);
}

.personal-page > img {
    grid-column: 2;
    grid-row: 1 / 11;
}

.personal-page > .intro {
    grid-column: 1;
    grid-row: 1;
}

.personal-page > .p1 {
    grid-column: 3;
    grid-row: 3;
}
.personal-page > .p2 {
    grid-column: 3;
    grid-row: 5;
}
.personal-page > .p3 {
    grid-column: 3;
    grid-row: 8;
}
.personal-page > .solved {
    grid-column: 1;
    grid-row: 3;
}

.message-page {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(10, 50px);
}
.message-page > img {
    grid-column: 1;
    grid-row: 1 / 11;
}
.message-page > .intro {
    grid-column: 2;
    grid-row: 2;
}

.message-page > .solved {
    grid-column: 2;
    grid-row: 3;
}

.life-page {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 500px;
    column-gap: 30px;
    grid-template-areas:
    "intro sc1 sc2"
    "solved sc1 sc2"
    "solved sc1 sc2";
}

.next-step {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 80px;
}

.next-step > .table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    margin: 30px 0 -30px;
}

.next-step > .table > div {
    display: flex;
    flex-direction: column;
}

.next-step p {
    margin-bottom: 0;;
}

.orange-circle {
    position: absolute;
    height: 32vw;
    width: 32vw;
    border-radius:50%;
    bottom: -16vw;
    left: 5vw;
    background-color: #F6C848;
}

.next {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    color: #000;
    z-index: 2;
    margin-top: 120px;
}


.orange-circle > img {
    width: 40%;
    position: absolute;
    top: -18%;
    left: 18%;
}

@media (max-width: 1000px) {
    .concept-statement {
        flex-direction: column;
    }
    .concept-statement > div {
        width: auto;
    }
    .concept-statement > .image-wrapper {
        max-width: 100%;
    }

    .dash {
        display: none;
    }
    .three-screenshots {
        column-gap: 15px;
    }
    .three-screenshots > div {
        position: static;
    }

    .explore-page > .image-wrapper {
        grid-template-rows: repeat(10, 40px);
    }

}

@media (max-width: 800px) {
    .survey-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .three-screenshots {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "h3 h3 h3"
        "p1 p2 p3"
        "t1 t2 t3"
        "t4 t4 t4";

    }
    .three-screenshots > div > div > p {
        position: static;
        margin-top: 0;
    }

    .problem-solution {
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    .explore-page > .image-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }
    .explore-page img {
        grid-column: 1;
    }
    .explore-page .pointer {
        grid-column: 2;
    }
    .explore-page .p4 {
        grid-row: 2;
    }
    .explore-page .p1 {
        grid-row: 3;
    }
    .explore-page .p5 {
        grid-row: 5;
    }
    .explore-page .p3 {
        grid-row: 8;
    }


    .personal-page {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(15, 40px);
        grid-row-gap: 10px;
    }

    .personal-page > .solved {
        grid-column: 1/3;
        grid-row: 12;
    }
    .personal-page > img {
        grid-column: 1;
        grid-row: 2/12;
    }
    .personal-page > .pointer {
        grid-column: 2;
    }
    .personal-page > .intro {
        grid-column: 1/3;
    }

    .message-page {
        grid-column-gap: 20px;
        grid-template-rows: repeat(10, 40px);
    }

    .life-page {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "intro ."
        "sc1 sc2"
        "sc1 sc2"
        "solved solved";
        height: auto;
        row-gap: 30px;
        justify-items: center;
    }
    .life-page img {
        width: 80%;
    }
    .life-page > .intro {
        justify-self: start;
    }

    .next-step > .table {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

}

@media (max-width: 600px) {
    .message-page {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 400px 300px;
    }
    .message-page > img {
        grid-row: 2;
    }
    .message-page > .solved {
        grid-row: 3;
        grid-column: 1;
    }
    .message-page > .intro {
        grid-row: 1;
        grid-column: 1;
    }
}


@media (max-width: 400px) {
    .three-screenshots {
        grid-template-areas:
        "h3 h3 h3"
        "p1 t1 t1"
        "p1 t1 t1"
        "t2 t2 p2"
        "p3 t3 t3"
        "t4 t4 t4";
        row-gap: 10px;
        align-items: center;
        margin-top: 20px;
    }

    .three-screenshots > div > div > p {
        margin: 0;
    }
    .three-screenshots > .problem-solution {
        flex-direction: column;
    }
    .three-screenshots > .problem-solution > div {
        width: auto;
    }

    .explore-page > .problem-solution {
        flex-direction: column;
    }
    .explore-page > .problem-solution > div {
        width: 100%;
    }

    .personal-page > .p1 {
        grid-row: 4;
    }
    .personal-page > .p2 {
        grid-row: 6;
    }

    .next-step > .table {
        column-gap: 10px;
    }
}
